<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Bo Xie">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bo Xie</title>
</head>
<body style="font-family: Arial">
    <header>
        <h1>Bo Xie</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="cv.html">CV</a></li>
                <li><a href="contact.html">Contact Me</a></li>
                <li><a href="fun.html">For fun</a></li>
            </ul>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>

        <table style="margin: 0 auto; width: 90%; border-collapse: collapse; text-align: left;">
            <tr style="background-color: #f2f2f2;">
                <th style="border: 1px solid #ddd; padding: 12px;">Name</th>
                <th style="border: 1px solid #ddd; padding: 12px;">Description</th>
            </tr>
            <tr>
                <td style="border: 1px solid #ddd; padding: 12px;">
                    <strong>Software Development Intern</strong>
                    <p>Conduit (venture-backed human resources startup)</p>
                    
                </td>
                <td style="border: 1px solid #ddd; padding: 12px;">SG
                    <ul>
                        <li>Designed and coded mobile interfaces for web-app using React and TypeScript, increasing user traffic by 60% during pilot</li>
                        <li>Built mid-fi and hi-fi wireframe prototypes for gamification and journaling features in Figma</li>
                        <li>Led 3 scrum meetings per week, managed Agile sprints, and conducted bi-weekly QA testing, resolving 10+ tickets per cycle</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #ddd; padding: 12px;">
                    <strong>Vice President</strong>
                    <p>CMU Data Science Club</p>
                    
                </td>
                <td style="border: 1px solid #ddd; padding: 12px;">
                    <ul>
                        <li>Teach data science workshops, host guest speaker events, plan datathons and AI poker bot competitions, oversee AI/ML projects to support our club of over 1100 members, managing $20K+ in annual sponsorships
                        </li>
                        <li>Facilitate weekly executive board meetings, working with competitions, finance, and design committees to ensure operations</li>
                    </ul>
                </td>
        </table>

        
        <a href="../static/boresume.pdf" download>Download my resume</a>
        
        
    </div>  
    <footer>
        <p>&copy; 2025 Designed and Coded by Bo Xie</p>
    </footer>
    
</body>
</html>