<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta name="author" content="Bo Xie">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bo Xie</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../static/script.js" defer></script>
</head>
<body>
    <header>
        <h1 id="webname">Bo Xie</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>

        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>
                    <strong>Software Development Intern</strong>
                    <p>Conduit (venture-backed human resources startup)</p>
                    
                </td>
                <td>
                    <ul>
                        <li>Designed and coded mobile interfaces for web-app using React and TypeScript, increasing user traffic by 60% during pilot</li>
                        <li>Built mid-fi and hi-fi wireframe prototypes for gamification and journaling features in Figma</li>
                        <li>Led 3 scrum meetings per week, managed Agile sprints, and conducted bi-weekly QA testing, resolving 10+ tickets per cycle</li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td >
                    <strong>Vice President</strong>
                    <p>CMU Data Science Club</p>
                    
                </td>
                <td>
                    <ul>
                        <li>Teach data science workshops, host guest speaker events, plan datathons and AI poker bot competitions, oversee AI/ML projects to support our club of over 1100 members, managing $20K+ in annual sponsorships
                        </li>
                        <li>Facilitate weekly executive board meetings, working with competitions, finance, and design committees to ensure operations</li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>
                    <strong>Research Assistant</strong>
                    <p>Downs Lab (Decision Science Lab CMU)   </p>
                    
                </td>
                <td>
                    <ul>
                        <li>Processed and analyzed 3000+ data points in R, developing a Tableau dashboard to track sex-ed trends (1994-2010)</li>
                        <li>Built 2 surveys using Qualtrics, collected and cleaned 1000+ data points on mechanics of recursive decision-making
                        </li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>
                    <strong>Scotty Bot Project</strong>
                    <p>RAG, React, Mongodb, Python, FastAPI, Cloud </p>
                    
                </td>
                <td>
                    <ul>
                        <li>Design and develop full-stack web-app for CMU students to ask school-related questions
                        </li>
                        <li>Implemented Retrieval Augmented Generation (RAG) using OpenAI's API and VectorDB for embedding and retrieva</li>
                        <li>Built comprehensive knowledge base through Python web scraping (Selenium & BS), extracting 5000+ faculty & course info</li>
                    </ul>
                </td>
            </tr>
        </table>

        
        <a href="../static/boresume.pdf" download>Download my resume</a>
        
        
    </div>  
    <footer>
        <p id="copyYear"> Designed and Coded by Bo Xie &copy;</p>
    </footer> 
    
</body>
</html>